<ul class="rnr-b-vmenu simple {$menustyle}" originalMenuTag="$$originalMenuTag">
<li class=" current menuLeaf">
	<div>
		<div>
			<a {$item1_menulink_attrs}>
									Permissions
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item2_menulink_attrs}>
									Attribuer utilisateurs à des groupes
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item3_menulink_attrs}>
									Modifier/Ajouter des utilisateurs
			</a>
		</div>
	</div>
</li>
</ul>
